<?xml version="1.0"?>

<model>
  <name>object_robocup_wall20m</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>GetLAB</name>
    <email>getlab@getlab.org</email>
  </author>

  <description>
    A model of a object_robocup_wall20m.
  </description>

</model>
