<launch>

	<arg name="namespace" default="GETjag"/>

	<group ns="$(arg namespace)">

		<node pkg="flipper_control" name="flipper_control_server" type="flipper_control_server" output="screen">
		</node>

		<node pkg="flipper_control" type="tf_broadcaster" name="desired_pose_tf_broadcaster" args="next_base_link base_link 0.0 0.0 0.0 0.0 0.0 0.0" respawn="true" output="screen">
		</node>

		<node pkg="flipper_control" type="tf_broadcaster" name="flipper_tf_broadcaster_front_left" args="flipper_front_left base_link 0.379 0.275 0.102 0.0 0.0 0.0" respawn="true" output="screen">
		</node>

		<node pkg="flipper_control" type="tf_broadcaster" name="flipper_tf_broadcaster_front_right" args="flipper_front_right base_link 0.379 -0.275 0.102 0.0 0.0 0.0" respawn="true" output="screen">
		</node>

		<node pkg="flipper_control" type="tf_broadcaster" name="flipper_tf_broadcaster_rear_left" args="flipper_rear_left base_link -0.379 0.275 0.102 0.0 0.0 3.141" respawn="true" output="screen">
		</node>

		<node pkg="flipper_control" type="tf_broadcaster" name="flipper_tf_broadcaster_rear_right" args="flipper_rear_right base_link -0.379 -0.275 0.102 0.0 0.0 3.141" respawn="true" output="screen">
		</node>

	</group>

</launch>
